* {
    background-color: bisque;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    background-color: aquamarine;
    text-align: center;

    margin: 20px;
    padding: 20px;    
}

.recipes {
    color: orangered;
    font-size: 30px;
    margin: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.one {
    margin: 20px;
}

.two {
    margin: 20px;
}

.three {
    margin: 20px;
}

