.title {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    background-color: aquamarine;
    text-align: center;

    margin: 50px;
    padding: 20px
}

.recipes {
    text-align: center;
}